development: &default
  adapter: postgresql
  host: localhost
  username: copycopter
  password: zaq12wsx
  encoding: unicode
  min_messages: WARNING
  pool: 5

development:
  <<: *default
  database: copycopter_development

test: &test
  <<: *default
  database: copycopter_test

production:
  <<: *default
  database: copycopter_production